{{ define "main" }}
	<main>
		<article>
            <h1 id="letters" class="{{ .Page.Params.Color }}">{{ .Title }}</h1>
			<hr class="hr-{{ .Page.Params.Color }}">
			<!-- <h5 datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</h5> -->
			<br \>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
			<br \>
		</article>
       <div class="container-fluid p-0" id="graphcomment"></div>
       <script type="text/javascript">
         var __semio__params = {
           graphcommentId: "unknown-flowers", // make sure the id is yours
           behaviour: {
       		  uid: {{ .Title }}, // uniq identifer for the comments thread on your page (ex: your page id)
           },
           // configure your variables here
         }
         function __semio__onload() {
           __semio__gc_graphlogin(__semio__params)
         }
         (function() {
           var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
           gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
         })();
       </script>
	</main>

{{ end }}
